* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 33);
    color: white;
}

main {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(32, 32, 84);
}

main hr {
    border: 0;
    background: rgb(112, 112, 228);
    margin: 40px 84px;
    height: 1.2px;

}

nav ul {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

.left {
    font-size: 1.5rem;
}

.first {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0;
}

.first>div {
    width: 30%;
}

.leftsection {
    /* margin: 70px 0; */
    font-size: 3rem;
}

.leftsection .buttons {
    padding: 34px 0;
    margin-top: 33px;
}

.leftsection .btn {
    padding: 12px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(70, 70, 155);
}

.rightsection img {
    width: 80%;
}

.purpul {
    color: rgb(112, 112, 228);
}

.text-grey {
    color: gray;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(154, 154, 250);
    font-size: 1.02rem;
}

#element {
    color: rgb(154, 154, 250);
}

.second {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.second h1 {
    font-size: 1.9rem;
}

.second .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.second .vertical {
    background: white;
    width: 1px;
    height: 93px;
    margin: 0 120px;

}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;

}

.vertical-tittle {
    position: relative;
    top: 75px;
    width: 150px;

}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;

}

footer {
    background-color: rgb(17, 17, 50);
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
    font-size: 12px;
    font-weight: inherit;
}

.footer>div {
    width: 233px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}